* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    font-size: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
}

header {
    padding: 5vh;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

a div {
    transition: transform 0.15s ease-in;
}

a div:hover {
    transform: scale(1.1);
}

main {
    padding: 20px;
    flex: 1;
}

.phisnia {
    position: absolute;
    left: 2.5vmax;
    top: 6vmin;
    font-family: 'South Park';
    font-style: normal;
    font-weight: 400;
    font-size: 4vmax;
    line-height: 47px;
    color: #000000;
}

.admin {
    position: absolute;
    right: 2.5vw;
    top: 2vh;
    font-family: 'Tw Cen MT';
    font-style: italic;
    font-weight: 400;
    font-size: 3vmax;
    line-height: 52px;
    color: #000000;
}

.tempat-mancing {
    position: absolute;
    width: 524px;
    height: 113px;
    left: calc(50% - 524px/2 + 397px);
    top: 739px;
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 52px;
    color: #FFFFFF;
}

.reservasi {
    position: absolute;
    max-width: 293px;
    max-height: 52px;
    right: 10%;
    bottom: -10%;
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 52px;
    color: #2F2E2E;
}

.mari-mancing {
    position: absolute;
    max-width: 606.35px;
    max-height: 248.48px;
    left: calc(50% - 606.35px/2 + 488.18px);
    top: 20vh;
    font-family: 'South Park';
    font-style: normal;
    font-weight: 400;
    font-size: 122.805px;
    line-height: 128px;
    color: #000000;
}

.svg-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.deep-sea {
    width: 100%;
    height: 300vh;
    /* Full viewport height */
    background: linear-gradient(to bottom, #6280CB, #121826);
    /* Example gradient */
    position: absolute;
    top: 40%;
    left: 0;
    /* Initially hidden */
}

.second-depth {
    position: relative;
    width: 100%;
    height: 100vh; 
    top: 1080px;
    display: flex;
    align-items: center;
}

.left-half {
    width: 50vw; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.right-half {
    width: 50vw; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.carousel {
    width: 100%; 
    max-width: 40vw; 
    height: 50%; 
    display: flex;
    align-items: center;
}

.desc-kolam{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 85%;
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 50px;
    color: #fff;
}

.title-kolam{
    font-family: 'South Park';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    padding: 10px 0;
    color: #ffffff;
}

.carousel-indicators button {
    background-color: #333;
}

.intro {
    margin-top: 5vh;
    margin-bottom: 5vh;
    line-height: 3px;
}

.intro a {
    color: #000000;
    text-decoration: none;
}

.features {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.id_card {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 300px;
    height: 450px;
    overflow: hidden;
}

.id_card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.reservation-form,
.login-form {
    margin-top: 5vh;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 50vw;
    margin: 0 auto;
    font-size: 1rem;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
}

.reservation-form input,
.reservation-form select {
    width: 100%;
    height: 5vh;
}

.reservation-form button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.15s ease-in;
}

.reservation-form button:hover {
    transform: scale(1.02);
}

.back {
    margin: 20px;
    font-family: 'South Park';
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    bottom: 0;
    position: fixed;
}

.back-arrow {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 30%;
    rotate: -180deg;
    margin-right: 15px;
}

.panel {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5vh;
}

.passPeek {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.who {
    color: inherit;
    text-decoration: none;
}

.who:hover {
    color: rgb(84, 25, 194);
}

.error-box {
    background-color: #f2dede;
    color: #a94442;
    padding: 10px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
}

.customer-info {
    min-width: 30vw;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.panel form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.info-item {
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
}

.value {
    margin-left: 10px;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form {
    width: 100%;
}

form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form select,
form button {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

th,
td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

a div{
    text-decoration: none;
    color: #000000;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        display: none;
    }

    table tr,
    table td {
        display: block;
        border: 1px solid #ccc;
    }

    table td {
        text-align: left;
    }

    table tr {
        margin-bottom: 10px;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
}

footer {
    color: #FFFFFF;
    z-index: 1;
    right: 1rem;
    bottom: 0;
    font-size: 18px;
    position: fixed;
}